[submodule "libs/DateTimeLibrary"]
	path = libs/DateTimeLibrary
	url = https://github.com/bokkypoobah/BokkyPooBahsDateTimeLibrary.git
	branch = master
[submodule "utils/PyEthHelper"]
	path = utils/PyEthHelper
	url = https://github.com/lsd-ucsc/PyEthHelper.git
	branch = main
[submodule "libs/base64"]
	path = libs/base64
	url = https://github.com/Brechtpd/base64.git
	branch = main
[submodule "libs/Solidity-RLP"]
	path = libs/Solidity-RLP
	url = https://github.com/hamdiallam/Solidity-RLP.git
	branch = master
